<!DOCTYPE html>
<html>

<head>
  <title>Painel de Administração - Índice</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
  <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
</head>

<body>
  <%- include('../partial/navbar') %>
  <div class="container">
    <h1 class="mt-4">Bem-vindo ao Painel de Administração</h1>
    <a href="/users/create" class="btn btn-success">Criar</a> 
    <table class="table mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <a href="/users/<%= user.id %>/edit" class="btn btn-primary">Editar</a>
              <a href="/users/<%= user.id %>/delete" class="btn btn-danger">Excluir</a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <script src="/js/notifier.js"></script>
  <script defer>
    new DataTable('table');
  </script>
</body>

</html>